@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2> <!--this comes from above it will display about, same for all of the other pages-->
<h3>@ViewBag.Message</h3> <!--this comes from the home controlle, same for all of the other pages-->

<p>This website will give you the knowledge and know how to tie simple knots.<br />
    <br />
    The site contains:<br /><!--break and goes to a new line-->
    <ul>
        <li>A history page where it will explain the history of knot tying and how it all started.</li> <!--bullet point list contained inside of a paragraph-->   
        <li>A tutorial page where you will find tutorials on how to tie those knots, they have beginner, intermediate and advance levels.</li>        
        <li>An upload page where you can upload your tying magic to the rest of the world and also offer some help with other tutorials if needed.</li>        
        <li>A contact page for any problems that you may have with the site or any general queries that you want to ask then ask away.</li>
    </ul>
    Hope you enjoy this site and tell your friends to come here but if you didn't like this site then tell me not your friends.</p>
