@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    111 yup yup street<br />
    Auckland, nelson<br />
    <abbr title="Phone">P:</abbr>
    (33)1234 555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Queries:</strong>   <a href="mailto:Queries@example.com">Queries@example.com</a><br />
    <strong>General complaints:</strong>     <a href="mailto:Generalcomplaints@example.com">Generalcomplaints@example.com</a><br />
    <strong>Question, Comments or Concerns:</strong> <a href="mailto:Morebloodyproblems@example.com">Questions,CommentsorConcerns@example.com</a>
</address>