@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "History";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<!--Source: http://www.knotpro.com/history.htm however it has been somewhat rewritten but is using the same structure as the original-->
<p>Knot tying is believed to have started when a <a href="https://en.wikipedia.org/wiki/Neolithic">neolithic</a> man tied a stone onto a stick, 
   this then created the first human invention. Knots throughout history have been associated with <a href="http://mb-soft.com/believe/txo/primitiv.htm">primitive religion</a>, 
   <a href="https://en.wikipedia.org/wiki/Folklore">folklore</a>, magic,<a href="https://en.wikipedia.org/wiki/Superstition">superstitions</a>, 
   to cure evil and to either cure sickness or cause it which is a bit odd.<br />
   <br />
   knot tying has many different uses ranging from:
   <br /> 
   <ul> 
       <li>construction.</li>
       <li>determine days, weeks and years.</li>
       <li>calculating business deals.</li>
       <li>keep track of items or tally them.</li>
       <li>tying knots or other objects together.</li>
   </ul>
   <br /> 
   In a recent study it found that man is not the only species to tie knots, gorillas tie knots and use them to hold <a href="http://ezinearticles.com/?What-Are-Plant-Creepers?&id=1796283">creepers</a> 
   and <a href="https://en.wikipedia.org/wiki/Tree#Overview">saplings</a> down in their nests, most of these knots were grannies knot but some 
   were square knots. There is a bird that will tie knots to fasten down their nests and there are still primitive races who fasten their huts, 
   traps and even clothing with knots. Before the 18th century there was only one description of a knot which was found in a medical <a href="http://dictionary.reference.com/browse/treatise">treatise</a> 
   this was written in the 4th century by a <a href="https://en.wikipedia.org/wiki/Physician">physician</a> and was describing slings. The thing 
   that makes this writing so unique was that the knots described were nine different knots used in sixteen different slings they were:<br />
   <br />
   <ul>
       <li>a square knot.</li>
       <li>overhand noose.</li>
       <li>larks head.</li>
       <li>clove hitch.</li>
       <li>overhand knot.</li>
       <li>fisherman loop knot.</li>
       <li>tom fool knot.</li>
       <li>jug sling.</li>
       <li>cat cradle.</li>
   </ul>
   This writing was concluded in 386ad but may have of been based on even earlier writings.<br />
   <br />
   Knot tying has been around for a while but it is still new, fun and a very handy skill to know. The very first recorded knot in history is 
   called the hercules knot, these are visible on potteries and statues in Rome or a museum that has roman artifacts. Nowadays the hercules knot 
   is called a square or reef knot, it was once called a medical knot as it was used in tying bandages. It is a very useful knot and is easy to 
   tie and it was used to join two ropes together, although you can find better knots for that task the reef knot could be a dangerous knot to tie. 
   In today’s world knots are part of everyday living, they have been used in the sea for tying up the ships in the ports and fastening things 
   aboard the ship. They have also been used in the outdoors for doing rescues and setting up safety gear. Some people use knots just for fun or 
   using them to do jobs around the house hold.</p>


