@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Tutorials";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>beginner Tutorials</h3>
<br />
<h4>Tutorial One - how to tie a Clove hitch</h4>
<br />
<p>Step one - hang the rope infront of you so you have hold of one end.<br />
   Step two - with the end you are holding thread it over the object and back around so the end is now pointing towards you.<br />
   Step three - pull the rope through a bit so you have some slack and cross over the first bit of rope with the rope in your hand so there is a cross roads where the ropes meet.<br />
   Step four - wrap the piece that has the end on it back over the object like you did in step one.<br />
   Step five - this is the crux of the knot, when you have wrapped over the piece of rope thread it back through between the piece that is hanging back down and the piece that has done the cross over, note it should be to the right of the hanging down rope and above the cross over rope<br />
   Step six - pull the rope through a bit so it it tightens<br />
   Congratulations you have tied your first knot</p>
<br />
<h3>Intermediate Tutorials</h3>
<br />
<h4>Tutorial One - how to tie an Italian hitch</h4>
<br />
<p>Step one - hold the rope infront of you so you have hold of one end.<br />
   Step two - with the end you are holding thread it over and around the object so the end is now pointing towards you.<br />
   Step three - pull the rope through and cross it over the rope that is hanging down.<br />
   Step four - thread the rope in behind the object up and around the object so it went in the opposite direction of the second step.<br />
   step five - pull the rope through a bit and if it is running freely then you have tied it correctly, if you can pull on the other end and is still running freely then you have done it correctly.<br />
   Congratulations you have tied your first Intermediate knot.</p>
<br />
<h3>Advance Tutorials</h3>
<br />
<h4>Tutorial One - how to tie an alpine butterfly</h4>
<br />
<p>Step one - wrap the rope around your hand three times so that each coil of rope is next to each other.<br />
   Step two - with the very left coil of rope on your hand grab it and place it over the other two coils of rope so it is now the right most piece of rope, repeat this for the next left most piece of rope.<br />
   Step three - pull your hand out if the grasp of the rope and pull the left most coil as you do and pull it tight.<br />
   Step four - grab the two bits of rope that are hanging from the bottom, one in each hand, pull them to the side so they are being pulled away from each other so the knot goes tight and you should see a loop sticking out of the top of the knot.<br />
   Congratulations you have tied your first Advance knot.</p>





