@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "UploadCentre";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Click the button below to upload something note: it wont work because it is not connected to anything yet</p>

<p><a class="btn btn-default">Upload</a></p> <!--upload button that is not working yet might do it later-->


